<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Jar API Test Suite" verbose="1" parallel="none">
    <listeners>
        <listener class-name="org.jarApiAutomation.listeners.Listeners"/>
        <listener class-name="org.jarApiAutomation.listeners.AnnotationTransformer"/>
    </listeners>

    <test name="Auth API Tests">
        <classes>
            <class name="authService.AuthServiceTest"/>
        </classes>
    </test>
</suite>
