<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Disable MongoDB logs -->
    <logger name="org.mongodb.driver" level="OFF"/>
    <logger name="com.mongodb" level="OFF"/>
    <logger name="org.mongodb" level="OFF"/>

    <!-- Console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
